img.me {
    width: 205px;
    height: 205px;
    border-radius: 50%;
  }

body{
    font-size: 18px;
    color: #2D3748;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header {
  padding: 40px;
  text-align: center;
  background: #63B3ED;
  margin:0px;
  font-size:20px;
  color: #ffffff;
}

h1{
    font-size: 36px;
    font-family: 'Times New Roman', Times, serif;
}

h2{
    font-size: 32px;
    color: #48BB78;
}

p.p2{
    color: #718096;
}

h3:not(.m1) {
    color:  #48BB78;

}

h3.m1{
    color: #000000;
}

p.m2{
    background-color: #E2E8F0;
    padding: 10px;
}

ul{
    padding: 10px;
    background-color: #4299E1;
}

footer{
    background-color:#2C5282;
    color: #FFFFFF;
}

aside {
    height: 70%;
    width: 152px;
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 700px;
    }

    body:not(.header) {
        margin-right: 250px;
        }

    hr {
         border: 0;
         border-top: 2px solid black;
         }